--USE [Yadi2018Bhatiya]
GO
/****** Object:  Table [dbo].[MItemNameDisplayType]    Script Date: 4/9/2019 1:07:19 PM ******/
DROP TABLE [dbo].[MItemNameDisplayType]
GO
/****** Object:  Table [dbo].[MItemNameDisplayType]    Script Date: 4/9/2019 1:07:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MItemNameDisplayType](
	[ItemNameTypeNo] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ItemNameType] [varchar](max) NULL,
	[Query1] [varchar](max) NULL,
	[Query2] [varchar](max) NULL,
	[Query3] [varchar](max) NULL,
	[StartIndex] [int] NULL,
	[Param1Value] [varchar](max) NULL,
	[Param2Value] [varchar](max) NULL,
	[PartyQuery] [varchar](max) NULL,
	[UserID] [numeric](18, 0) NULL,
	[UserDate] [datetime] NULL,
 CONSTRAINT [PK_ItemNameTypeDisplay] PRIMARY KEY CLUSTERED 
(
	[ItemNameTypeNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MItemNameDisplayType] ON 

SET IDENTITY_INSERT [dbo].[MItemNameDisplayType] OFF
