set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddTStock]
     @PkStockTrnNo                        numeric(18),
	 @FKVoucherNo						  numeric(18),
     @FkVoucherTrnNo                      numeric(18),
     @FkVoucherSrNo                       numeric(18),
     @GroupNo                             numeric(18),
     @ItemNo                              numeric(18),
     @TrnCode                             numeric(18),
     @Quantity                            numeric(18,2),
     @BilledQuantity                      numeric(18,2),
     @Rate                                numeric(18,2),
     @Amount                              numeric(18,2),
	 @NetRate							  numeric(18,2),
	 @NetAmount							  numeric(18,2),
     @SGSTPercentage                       numeric(18,2),
     @SGSTAmount                           numeric(18,2),
     @AddTaxPercentage                    numeric(18,2),
     @AddTaxAmount                        numeric(18,2),
	 @DiscPercentage					  numeric(18,2),
	 @DiscAmount						  numeric(18,2),
	 @DiscRupees						  numeric(18,2),
	 @DiscPercentage2					  numeric(18,2),
	 @DiscAmount2						  numeric(18,2),
	 @DiscRupees2						  numeric(18,2),
	 @FkUomNo							  numeric(18),
	 @FkStockBarCodeNo				      numeric(18),
	 @FkRateSettingNo					  numeric(18),
	 @FkItemTaxInfo						  numeric(18),
	 @FKAddItemTaxSettingNo				  numeric(18),
	 @FreeQty                             numeric(18,2),
	 @FreeUOMNo							  numeric(18),   
     @UserID                              numeric(18),
     @UserDate                            datetime,
	 @CompanyNo							  numeric(18),
	 @LandedRate						  numeric(18,2),
	 @FkGRNNo						      numeric(18),
	 @BatchNo							  varchar(50),
	 @NoOfBag							  numeric(18),
	 @CessValue							  numeric(18,2),
	 @PackagingCharges					  numeric(18,2),
--	 @LBTPerce							  numeric(18,2),
--	 @LBTApplicableAmount				  numeric(18,2),
--	 @LBTAmount							  numeric(18,2),
	 @DisplayItemName					  varchar(500),
	-- @MfgCompNo							  numeric(18,0),

     @CGSTPercentage                      numeric(18, 2),
     @CGSTAmount                          numeric(18, 2),
     @IGSTPercentage                      numeric(18, 2),
     @IGSTAmount                          numeric(18, 2),
     @FkItemTaxInfo2                         numeric(18, 0),

     @CessPercentage                       numeric(18, 2),
     @CessAmount                           numeric(18, 2),
	@TRWeight			numeric(18, 2),
	@GRWeight			numeric(18, 2),
	@Remarks		 varchar(500),
	@Freight  numeric(18, 2),
	@OtherCharges   numeric(18, 2),
	@SalesMan int,
	@IType bit,
    @ContainerCharges                     numeric(18, 2),
	@ContainerChargesAmt                     numeric(18, 2),
	@PackagingChargesAmt                     numeric(18, 2),
    @ReturnID							  int output


AS
IF EXISTS(select PkStockTrnNo from TStock
          where
          PkStockTrnNo = @PkStockTrnNo)
     BEGIN
       --Update existing row
       UPDATE TStock
       SET
		  FKVoucherNo = @FKVoucherNo,
          FkVoucherTrnNo = @FkVoucherTrnNo,
          FkVoucherSrNo = @FkVoucherSrNo,
          GroupNo = @GroupNo,
          ItemNo = @ItemNo,
          TrnCode = @TrnCode,
          Quantity = @Quantity,
          BilledQuantity = @BilledQuantity,
          Rate = @Rate,
          Amount = @Amount,
		  NetRate = @NetRate,
		  NetAmount = @NetAmount,
          SGSTPercentage = @SGSTPercentage,
          SGSTAmount = @SGSTAmount,
          AddTaxPercentage = @AddTaxPercentage,
          AddTaxAmount = @AddTaxAmount,
		  DiscPercentage = @DiscPercentage,
		  DiscAmount = @DiscAmount,
		  DiscRupees = @DiscRupees,
		  DiscPercentage2 = @DiscPercentage2,
		  DiscAmount2 = @DiscAmount2,
		  DiscRupees2 = @DiscRupees2,
	      FkUomNo = @FkUomNo,
	      FkStockBarCodeNo = @FkStockBarCodeNo,
	      FkRateSettingNo = @FkRateSettingNo,
	      FkItemTaxInfo = @FkItemTaxInfo,
		  FKAddItemTaxSettingNo = @FKAddItemTaxSettingNo,
		  FreeQty = @FreeQty,
	      FreeUOMNo = @FreeUOMNo,
          UserID = @UserID,
          UserDate = @UserDate,
		  CompanyNo= @CompanyNo,
		  LandedRate = @LandedRate,
		  StatusNo = 2,
		  FkGRNNo = @FkGRNNo,
		  BatchNo = @BatchNo,
		  NoOfBag = @NoOfBag,
		  CessValue = @CessValue,
	      PackagingCharges = @PackagingCharges,
--		  LBTPerce = @LBTPerce,
--		  LBTApplicableAmount = @LBTApplicableAmount,
--		  LBTAmount = @LBTAmount,
	      DisplayItemName = @DisplayItemName,
--		  MfgCompNo = @MfgCompNo,
  CGSTPercentage=@CGSTPercentage,                    
     CGSTAmount=@CGSTAmount,                          
     IGSTPercentage=@IGSTPercentage,                     
     IGSTAmount=@IGSTAmount,
              FkItemTaxInfo2   = @FkItemTaxInfo2,
    CessPercentage=@CessPercentage,
    CessAmount=@CessAmount,
          --ModifiedBy = isnull(ModifiedBy,'') + cast(@UserID as varchar)+'@'+ CONVERT(VARCHAR(10), GETDATE(), 105)
     TRWeight= @TRWeight,
	GRWeight=@GRWeight,
	Remarks=@Remarks,
	Freight =@Freight,
    OtherCharges=  @OtherCharges,
    ContainerCharges =@ContainerCharges,
	ContainerChargesAmt =@ContainerChargesAmt,
	PackagingChargesAmt =@PackagingChargesAmt,
SalesMan=@SalesMan,
IType=@IType
 WHERE
          PkStockTrnNo = @PkStockTrnNo
		  set @ReturnID=@PkStockTrnNo    

     END
ELSE
     BEGIN
       --Insert new row
       Declare @Id numeric
       SELECT @Id=IsNull(Max(PkStockTrnNo),0) From TStock
       DBCC CHECKIDENT('TStock', RESEED, @Id)
       INSERT INTO TStock(
		  FKVoucherNo,
          FkVoucherTrnNo,
          FkVoucherSrNo,
          GroupNo,
          ItemNo,
          TrnCode,
          Quantity,
          BilledQuantity,
          Rate,
          Amount,
		  NetRate,
		  NetAmount,
          SGSTPercentage,
          SGSTAmount,
          AddTaxPercentage,
          AddTaxAmount,
		  DiscPercentage,
		  DiscAmount,
		  DiscRupees,
		  DiscPercentage2,
		  DiscAmount2,
		  DiscRupees2,
		  FkUomNo,
		  FkStockBarCodeNo,
		  FkRateSettingNo,
		  FkItemTaxInfo,
		  FKAddItemTaxSettingNo,
		  IsVoucherLock,
	      FreeQty,
		  FreeUOMNo,
          UserID,
          UserDate,
		  CompanyNo,
		  LandedRate,
		  StatusNo,
		  FkGRNNo,
		  BatchNo,
          NoOfBag,
          CessValue,
		  PackagingCharges,
--		  LBTPerce,
--		  LBTApplicableAmount,
--		  LBTAmount,
--		  MfgCompNo,
      DisplayItemName,
 CGSTPercentage,                    
          CGSTAmount,                          
          IGSTPercentage,                     
          IGSTAmount, 
       FkItemTaxInfo2,
CessPercentage,
CessAmount,
     TRWeight,
GRWeight,
Remarks,
Freight,
    OtherCharges,
ContainerCharges,
ContainerChargesAmt,
PackagingChargesAmt,
SalesMan,
IType
          
)
       VALUES(
		  @FKVoucherNo,
          @FkVoucherTrnNo,
          @FkVoucherSrNo,
          @GroupNo,
          @ItemNo,
          @TrnCode,
          @Quantity,
          @BilledQuantity,
          @Rate,
		  @Amount,
		  @NetRate,
          @NetAmount,
          @SGSTPercentage,
          @SGSTAmount,
          @AddTaxPercentage,
          @AddTaxAmount,
	      @DiscPercentage,
		  @DiscAmount,
		  @DiscRupees,
		  @DiscPercentage2,
		  @DiscAmount2,
		  @DiscRupees2,
		  @FkUomNo,
		  @FkStockBarCodeNo,
		  @FkRateSettingNo,
		  @FkItemTaxInfo,
		  @FKAddItemTaxSettingNo,
		  'false',
	      @FreeQty,
		  @FreeUOMNo,
          @UserID,
          @UserDate,
		  @CompanyNo,
		  @LandedRate,
		  1,
		  @FkGRNNo,
		  @BatchNo,
		  @NoOfBag,
		  @CessValue,
		  @PackagingCharges,
--		  @LBTPerce,
--		  @LBTApplicableAmount,
--          @LBTAmount,
--		  @MfgCompNo,
		  @DisplayItemName,
@CGSTPercentage,                    
          @CGSTAmount,                          
          @IGSTPercentage,                     
          @IGSTAmount,
         @FkItemTaxInfo2,
@CessPercentage,
@CessAmount,
@TRWeight,
@GRWeight,
@Remarks,
@Freight,
@OtherCharges,
@ContainerCharges,
@ContainerChargesAmt,
@PackagingChargesAmt,
@SalesMan,@IType
)
Set @ReturnID=Scope_Identity()
END












